
$main-blue: #34495E;
$beige:#FCF8EB;

.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    //min-width:400px;
    margin: 10px;
    background-color:#FBFAF6;
    border-radius:5px;
    z-index: 1;
    width: 100%;
    padding: 20px;
    justify-content: flex-end;
}

.product__title{
  font-size: 1.5rem;
}
.product__rating {
 display: flex;
 margin-top: 0.5rem;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product > img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color:$main-blue;
  height: 2rem;
  border: solid 1px;
  color: white;
  
}