.checkout{
    display: flex;
    padding: 20px;
    background-color:#FBFAF6;
    height: max-content;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    color:#2E4053;
}

.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}
